body {
  min-width:300px;
}

form, .actions{
  border:1px solid #ccc;
  border-radius:5px;
  width:75%;
  padding:20px; 
  margin:18px auto;
  max-height: 
}

input, button, label, div{
  display:block;
}

#login input{
  margin-bottom:20px;
  width:100%;
  height:40px;
  border: 1px solid #ccc;
  border-radius:32px;
  padding-left:10px;
}

#login button[type="submit"]{
  margin:8px auto;
  width:80%;
  height:40px;
  border: 1px solid #ccc;
  border-radius:32px;
  padding-left: 10px;
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  font-weight: 700;
}

.warning {
  border:1px solid #dd2956;
  width:46%;
  padding:8px;
  margin: 8px auto;
  border-radius:5px;
  color: #dd2956;
  background-color: #dd295650;
}


